
*.wpc
*.lpr
*.xpr
cpu-sample/RTL/.DS_Store
cpu-sample/RTL/pipeline/.DS_Store
.DS_Store
*.wdf
*.xml
*.tcl
*.rpt
*.jou
*.log
*.str
*.bat
*.prj
*.wdb
*.pb
*.obj
*.c
*.info
*.html
*.wdm
*.ini
*.exe
*.dbg
*.mem
*.reloc
*.rlx
*.svtype
*.rtti
*.type
*.xdbg
*.sdb
