
*.wpc
*.lpr
cpu-sample/RTL/.DS_Store
cpu-sample/RTL/pipeline/.DS_Store
.DS_Store
*.wdf
*.xml
*.tcl
*.rpt
*.jou
*.log
*.str
*.bat
*.prj
*.wdb
*.pb
*.obj
*.c
*.info
*.html
*.wdm
*.ini
*.exe
*.dbg
*.mem
*.reloc
*.rlx
*.svtype
*.rtti
*.type
*.xdbg
*.sdb
测试/~$指令实例.xlsx
cpu/cpu.srcs/sources_1/eng/test
cpu/cpu.srcs/sources_1/eng/test.vcd
cpu/cpu.xpr
cpu/cpu.xpr
测试指令/~$斐波那契数列.xlsx
测试指令/~$指令实例.xlsx
